* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.main{


}

.header {
  background-color:black;
  background-image: url("img/virtual-teaching-how-to-crush-itjpg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 94%;
  background-position:center bottom;
  height: 600px;
  padding: 0;
}
.footer {
  height: 40px;
  background-color: #333;
  color: white;
  font-size: 18px;
  margin-top: 50px;
  padding-top: 20px;
}
.inder {
  margin-left: 5%;
}

.search {
  float: right;
  padding-right: 10px;
}

div.icon {
  position: fixed;
  width: 10px;
  height: 10px;
}

.list {
  
  margin-left: 60px;
}
.ul {
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
}
.ul li {
  
  float: left;
  padding-left: 30px;
}
.ul li a {
  
  font-size: 28px;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}
article {
  margin: 0 3%;
  padding-top: 10px;
}
.ul li a:hover {
  color: tomato;
}
#carousel {
  margin-top: 120px;
  width: 100%;
  height: 270px;


  overflow: auto;
  white-space: nowrap;
}

#carousel .slide {
  margin: 3px;
  padding: 10px;
  border: 1px solid;
  display: inline-block;
  background-color: aliceblue;
}
#carousel .slide .name a:link,
a:visited {
  text-decoration: none;
}
.exemple {
  margin-top: 120px;
}
.frame {
  margin: 30px 10%;
  padding: 30px;
  border: 1px solid;
  border-radius: 1%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.frame p {
  margin-left: 60px;
  font-size: 14px;
  width: 500px;
}

.frame .categorie {
  border: 1px solid;
  margin-left: 50px;
  width: 140px;
  height: 200px;
}
.frame .categorie .price {
  font-size: 28px;
  margin: 30px 50px;
}
