{% extends "base.html" %}
{% block content %}
<div id="id01" class="modal">
  <form class="modal-content animate" action="./signup" method="POST">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>
    <div class="container">
      <label><b>{{ form.email.label }}</b></label>
      {{ form.email }}
      <label><b>{{ form.password.label }}</b></label>
      {{ form.password }}
      <label><b>{{ form.name.label }}</b></label>
      {{ form.name }}
      <label><b>{{ form.lastname.label }}</b></label>
      {{ form.lastname }}
      <label><b>{{ form.profession.label }}</b></label>
      {{ form.profession }}
      <label><b>{{ form.telephone.label }}</b></label>
      {{ form.telephone }}
      <button class="button" type="submit">{{ form.submit.label }}</button>
      <label>
        <input class="input" type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
    <div class="container" style="background-color:#f1f1f1">
      <button class="button" type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>
<script>
// Get the modal
var modal = document.getElementById('id01');
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
<div id="id02" class="modal">
  <form class="modal-content animate" action="./login" method="POST">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>
    <div class="container">
      <label><b>{{ form.email.label }}</b></label>
      {{ form.email }}
      <label><b>{{ form.password.label }}</b></label>
      {{ form.password }}
      <button class="button" type="submit">Login</button>
      <!--{% if get_flashed_messages()[0] is not none %}
      <script>
        document.getElementById('id02').style.display='block'
      </script>
      {{ get_flashed_messages()[0] }} <br>
      {% endif %}-->
      <label>
        <input class="input" type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
    <div class="container" style="background-color:#f1f1f1">
      <button class="button" type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>



<div class="main">
  <h2> Languges:</h2>
  <div class="slideshow-container">
    <div class="slide">
      <a class="a" href="">
        <img class="image" src="static/style/img/python.png" width="200px" height="200px"/>
        <div class="middle">
          <div class="name"><strong>Python</strong></div>
          <div class="auther">Auther name</div>
        </div>
      </a>
    </div>
  </div>
  <div class="slideshow-container">
    <div class="slide">
      <a class="a" href="">
        <img class="image" src="static/style/img/c.png" width="200px" height="200px" />
        <div class="middle">
          <div class="name"><strong>C</strong></div>
          <div class="auther">Auther name</div>
        </div>
      </a>
    </div>
  </div>
  <div class="slideshow-container">
    <div class="slide">
      <a class="a" href="">
        <img class="image" src="static/style/img/c+.png" width="200px" height="200px" />
        <div class="middle">
          <div class="name"><strong>C++</strong></div>
          <div class="auther">Auther name</div>
  
        </div>
      </a>
    </div>
  </div>
  <div class="slideshow-container">
    <div class="slide">
      <a class="a" href="">
        <img class="image" src="static/style/img/c*.png" width="200px" height="200px" />
        <div class="middle">
          <div class="name"><strong>C#</strong></div>
          <div class="auther">Auther name</div>
        </div>
      </a>
    </div>
  </div>
  <div class="slideshow-container">
    <div class="slide">
      <a class="a" href="">
        <img class="image" src="static/style/img/js.png" width="200px" height="200px" />
        <div class="middle">
          <div class="name"><strong>Java Script</strong></div>
          <div class="auther">Auther name</div>
  
        </div>
      </a>
    </div>
  </div>
  <div class="slideshow-container">
    <div class="slide">
      <a class="a" href="">
        <img class="image" src="static/style/img/java.png" width="200px" height="200px" />
        <div class="middle">
          <div class="name"><strong>Java</strong></div>
          <div class="auther">Auther name</div>
        </div>
      </a>
    </div>
  </div>
  <div class="slideshow-container">
    <div class="slide">
      <a class="a" href="">
        <img class="image" src="static/style/img/php.png" width="200px" height="200px" />
        <div class="middle">
          <div class="name"><strong>php</strong></div>
          <div class="auther">Auther name</div>
  
        </div>
      </a>
    </div>
  </div>
  <div class="slideshow-container">
    <div class="slide">
      <a class="a" href="">
        <img class="image" src="static/style/img/r.png" width="200px" height="200px" />
        <div class="middle">
          <div class="name"><strong>R</strong></div>
          <div class="auther">Auther name</div>
        </div>
      </a>
    </div>
  </div>
  <div class="slideshow-container">
    <div class="slide">
      <a class="a" href="">
        <img class="image" src="static/style/img/ruby.png" width="200px" height="200px" />
        <div class="middle">
          <div class="name"><strong>Ruby</strong></div>
          <div class="auther">Auther name</div>
  
        </div>
      </a>
    </div>
  </div>
  <div class="slideshow-container">
    <div class="slide">
      <a class="a" href="">
        <img class="image" src="static/style/img/swift.png" width="200px" height="200px" />
        <div class="middle">
          <div class="name"><strong>Swift</strong></div>
          <div class="auther">Auther name</div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="article">
  <h2> Lessons:</h2>
  <div class="lesson">
    <img class="l-img" href="" width="150px" height="150px"/>
    <div class="l-p">Sed sit amet dui turpis. Nullam iaculis consequat porta.Quisque pharetra nisi massa</div>
    <div class="star">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
    </div>
    <div class="price">12$</div>
  </div>
  <div class="lesson">
    <img class="l-img" href="" width="150px" height="150px" />
    <div class="l-p">Sed sit amet dui turpis. Nullam iaculis consequat porta.Quisque pharetra nisi massa</div>
    <div class="star">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
    </div>
    <div class="price">35$</div>
  </div>
  <div class="lesson">
    <img class="l-img" href="" width="150px" height="150px" />
    <div class="l-p">Sed sit amet dui turpis. Nullam iaculis consequat porta.Quisque pharetra nisi massa</div>
    <div class="star">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
    </div>
    <div class="price">19$</div>
  </div>
  <div class="lesson">
    <img class="l-img" href="" width="150px" height="150px" />
    <div class="l-p">Sed sit amet dui turpis. Nullam iaculis consequat porta.Quisque pharetra nisi massa</div>
    <div class="star">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
    </div>
    <div class="price">40$</div>
  </div>
  <div class="lesson">
    <img class="l-img" href="" width="150px" height="150px" />
    <div class="l-p">Sed sit amet dui turpis. Nullam iaculis consequat porta.Quisque pharetra nisi massa</div>
    <div class="star">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
    </div>
    <div class="price">20$</div>
  </div>
  <div class="lesson">
    <img class="l-img" href="" width="150px" height="150px" />
    <div class="l-p">Sed sit amet dui turpis. Nullam iaculis consequat porta.Quisque pharetra nisi massa</div>
    <div class="star">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
    </div>
    <div class="price">15$</div>
  </div>
  <div class="lesson">
    <img class="l-img" href="" width="150px" height="150px" />
    <div class="l-p">Sed sit amet dui turpis. Nullam iaculis consequat porta.Quisque pharetra nisi massa</div>
    <div class="star">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
    </div>
    <div class="price">34$</div>
  </div>
  <div class="lesson">
    <img class="l-img" href="" width="150px" height="150px" />
    <div class="l-p">Sed sit amet dui turpis. Nullam iaculis consequat porta.Quisque pharetra nisi massa</div>
    <div class="star">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
    </div>
    <div class="price">25$</div>
  </div>
</div>

<script>
// Get the modal
var modal = document.getElementById('id02');
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
{% endblock %}
</body>
</html>