{% extends "base.html" %}
{% block content %}

 <article>
      <div class="main-profile">
        <div class="profile">
          <div class="edite-profile">
            <a class="edite-profile-link" href="">Edite Profile</a>
          </div>
          <div class="img-profile">
            <img src="static/style/img/profile.png" />
          </div>
          <div class="name-profile">{{profile.name}}</div>
          <div class="job-profile">{{profile.profession}}</div>
          <div class="about-profile">
            <div class="about-title-profile">About</div>
            <div class="id-profile">Name:</div>
            <div class="id-user-profile">{{profile.name}}</div>
            <div class="id-profile">Email:</div>
            <div class="id-user-profile">{{profile.email}}</div>
            <div class="id-profile">Phone:</div>
            <div class="id-user-profile">{{profile.telephone}}</div>
            <div class="id-profile">Profession:</div>
            <div class="id-user-profile">{{profile.profession}}</div>
            <div class="about-title-profile">Lessons Following</div>
          </div>
        </div>
      </div>
    </article>


{% endblock %}
